body {
  background-color: #151518;
  align-content: center;
}

.header {
  font-size: 55px;
  text-align: center;
  cursor: progress;
  background: 0%;
  color: rgb(255, 174, 67);
  text-shadow: 4.5px 7.5px 15px rgb(175, 147, 53);
}

div {
  font-size: 20.5px;
}

.center_sub {
  text-align: center;
  color: rgb(223, 223, 223);
}

.button_color_green {
  background-color: #95ed89;
  border-radius: 15px;
  font-size: 20.5px;
  align-items: center;
}

.button_color_orange {
  background-color: rgb(255, 174, 67);
  border-radius: 15px;
  font-size: 20.5px;
  align-items: center;
}

.button_color_pink {
  background-color: rgb(250, 107, 131);
  color: #fff;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 4.5em;
  width: 4.5em;
  font-size: 20.5px;
  border-width: 0;
  align-items: center;
  -webkit-transition: all ease-out 0.15s;
  transition: all ease-out 0.15s;
}

.button_color_pink:hover {
  -webkit-transition: all ease-out 0.15s;
  transition: all ease-out 0.15s;
  background-color: rgb(221, 47, 76);

}

.button_color_pink:active {
  -webkit-transition: all ease-out 0.15s;
  transition: all ease-out 0.15s;
  background-color: rgb(221, 47, 76);
  box-shadow: 0px 0px 0px 5px rgb(155, 33, 53);

}

a:visited {
  color: rgb(250, 107, 131);
}

a:hover {
  color: rgb(250, 107, 131);
}